{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traivel</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">
</head>

<body>
    <div id="container">
        <header>
            <div id="headcontainer">
                <a href="{% url 'index' %}" id="logo">Traivel</a>
                <p id="title">키워드로 검색하는 나에게 알맞는 여행지</span>
                {% if user.is_authenticated %}
                    <div class="logoutcontainer">
                        <form action="{% url 'accounts:logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" id="logout">로그아웃</button>
                        </form>
                    </div>
                {% else %}
                    <a href="{% url 'accounts:login' %}" class="link" id="link_login">로그인</a>
                    <a href="{% url 'accounts:sign_up' %}" class="link">회원가입</a>
                {% endif %}
            </div>
        </header>


        <section id="content">
            {% if user.is_authenticated %}
                <div id="hellouser">
                    {{ user.get_username }} 님 환영합니다.
                </div>
            {% endif %}
            <div class="box_container">
                <div class="box">
                    <div id="map" style="width:470px;height:480px;"></div>

                    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1af62556a70c9e5071ea3e98242ca6d7"></script>
                    <script>
                        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                            mapOption = {
                                center: new kakao.maps.LatLng(37.56551, 126.97795), // 지도의 중심좌표
                                level: 11, // 지도의 확대 레벨
                                mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
                            }; 

                        // 지도를 생성한다 
                        var map = new kakao.maps.Map(mapContainer, mapOption); 
                        //지도에 마커를 생성하고 표시
                        var marker = new kakao.maps.Marker({
                            position: new kakao.maps.LatLng(37.56551, 126.97795),
                            map: map //마커를 표시할 지도 객체
                        });
                        marker.setMap(map);

                        var iwContent = '<div style="padding:5px;">출발! <br><a href="https://map.kakao.com/link/map/Hello World!,33.450701,126.570667" style="color:blue" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/Hello World!,33.450701,126.570667" style="color:blue" target="_blank">길찾기</a></div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                            //인포윈도우 표시 위치입니다

                        // 인포윈도우를 생성합니다
                        var infowindow = new kakao.maps.InfoWindow({
                            content : iwContent 
                        });
                        
                        // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
                        infowindow.open(map, marker); 
                    </script>
                </div>
                <div class="box">
                    <div class="input_box", id="travel_region">
                        <div class="name_box">지역</div>
                        <input type="text" id="region" name="region" style="width:260px" >
                        <button type='button'><img src="./static/main/images/btn.png" width="33" height="35" alt="검색"></button>
                    </div>
                    <div class="keyword_box", id="keyword">
                        <div class="keyword_label">키워드</div>
                        <div class="key_btn">#클릭</div>
                        <div class="key_btn">#클릭</div>
                        <div class="key_btn">#클릭</div>
                        <div class="key_btn">#클릭</div>
                        <div class="key_btn">#클릭</div>
                        <div class="key_btn">#클릭</div>
                        <div class="key_btn">#클릭</div>
                    </div> 
                </div>

                </div>
                <div class="footer_box">
                    <div class="picture_box">
                        <div class="picture_label">여행장소 추천</div>
                        <button type="button"><img src="./static/main/images/btn1.png" width="45"></button>
                        <div class="picture">사진1</div>
                        <div class="picture">사진2</div>
                        <div class="picture">사진3</div>
                        <div class="picture">사진4</div>
                        <div class="picture">사진5</div>
                        <button type="button"><img src="./static/main/images/btn2.png" width="45" ></button>
                    </div>
                </div>
            </div>    

        </section>


        <footer>
            <div id="footcontainer">
                <p>광주 인공지능 사관학교 팀 프로젝트</p>
            </div>
        </footer>
    </div>
</body>
</html>