{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{%static 'main/mainajax.js' %}"></script>

<div class="input_box", id="travel_region">
    <div class="name_box">지역</div>
        <form method="GET" action="{% url 'index' %}">
            {% csrf_token %}
            <select id="region_sel" onchange="setCenter(this.value)" style="width:290px" name="region">
                <option value="seoul">서울특별시</option> 
                <option value="incheon">인천광역시</option>
                <option value="gwangju">광주광역시</option>
                <option value="busan">부산광역시</option>
                <option value="daegu">대구광역시</option>
                <option value="daejeon">대전광역시</option>
                <option value="ulsan">울산광역시</option>
                <option value="sejong">세종특별자치시</option>
                <option value="gyeonggi">경기도</option>
                <option value="gangwon">강원도</option>
                <option value="chungcheong_north">충청북도</option>
                <option value="chungcheong_south">충청남도</option>
                <option value="jeolla_north">전라북도</option>
                <option value="jeolla_south">전라남도</option>
                <option value="gyeongsang_north">경상북도</option>
                <option value="gyeongsang_south">경상남도</option>
                <option value="jeju">제주도</option>
            </select>
                            
</div>
                    
<div class="keyword_box", id="keyword">
    <div class="keyword_label">키워드</div>
    <div value="#클릭1" class="key_btn" id="keyword1">#클릭1</div>
    <div value="#클릭1" class="key_btn" id="keyword2">#클릭2</div>
    <div value="#클릭1" class="key_btn" id="keyword3">#클릭3</div>
    <div value="#클릭1" class="key_btn" id="keyword4">#클릭4</div>
    <div value="#클릭1" class="key_btn" id="keyword5">#클릭5</div>
    <div value="#클릭1" class="key_btn" id="keyword6">#클릭6</div>
    <div value="#클릭1" class="key_btn" id="keyword7">#클릭7</div>
</div>