 <div class="footer_box">
                <div class="picture_box">
                    <div class="picture_label">여행장소 추천</div>
                    <button type="button" class="arrow" id="arrow_left"><img src="./static/main/images/btn1.png" width="45"></button>
                    <div id="roll">
                        <ul>
                            <li class="picture" id="picture1">사진1</li>
                            <li class="picture" id="picture2">사진2</li>
                            <li class="picture" id="picture3">사진3</li>
                            <li class="picture" id="picture4">사진4</li>
                            <li class="picture" id="picture5">사진5</li>
                            <li class="picture" id="picture6">사진6</li>
                            <li class="picture" id="picture7">사진7</li>
                            <li class="picture" id="picture8">사진8</li>
                            <li class="picture" id="picture9">사진9</li>
                        </ul>
                    </div>
                    <button type="button" class="arrow" id="arrow_right"><img src="./static/main/images/btn2.png" width="45" ></button>
                </div>
            </div>
            
                
                <input type="hidden" name="keyword" value="" id="inputkeyword1" class="inputkeyword">
                <input type="hidden" name="keyword" value="" id="inputkeyword2" class="inputkeyword">
                <input type="hidden" name="keyword" value="" id="inputkeyword3" class="inputkeyword">
                <input type="hidden" name="keyword" value="" id="inputkeyword4" class="inputkeyword">
                <input type="hidden" name="keyword" value="" id="inputkeyword5" class="inputkeyword">
                <input type="hidden" name="keyword" value="" id="inputkeyword6" class="inputkeyword">
                <input type="hidden" name="keyword" value="" id="inputkeyword7" class="inputkeyword">

                <input type="hidden" name="type" value="" id="inputpicture1" class="inputpicture">
                <input type="hidden" name="type" value="" id="inputpicture2" class="inputpicture">
                <input type="hidden" name="type" value="" id="inputpicture3" class="inputpicture">
                <input type="hidden" name="type" value="" id="inputpicture4" class="inputpicture">
                <input type="hidden" name="type" value="" id="inputpicture5" class="inputpicture">
                <input type="hidden" name="type" value="" id="inputpicture6" class="inputpicture">
                <input type="hidden" name="type" value="" id="inputpicture7" class="inputpicture">
                <input type="hidden" name="type" value="" id="inputpicture8" class="inputpicture">
                <input type="hidden" name="type" value="" id="inputpicture9" class="inputpicture">

                <div id="resultbox">
                    <input type="button" onclick="btntest()" value="여행지 검색" id="result"/>
                </div>
            </form>