{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traivel</title>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/sign_up.css' %}">
</head>
<body>
    <div id="container">
        <header>
            <div id="headcontainer">
                <a href="{% url 'index' %}" id="logo">Traivel</a>
                <p id="title">키워드로 검색하는 나에게 알맞는 여행지</p>
            </div>
        </header>
        <section id="content">
            <h1>회원가입</h1>
            {% if error %}
                <div class="error" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST" action="{% url 'accounts:sign_up' %}" id="form">
                {% csrf_token %}
                <fieldset>
                    <legend>로그인 정보</legend>
                    <ul>
                    <li class="form_group">
                        <label for="username" autofocus>아이디</label>
                        <input type="text" id="username" name="username" placeholder="아이디">
                    </li>
                    <li class="form_group">
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" name="password" placeholder="비밀번호">
                    </li>
                    <li class="form_group">
                        <label for="password_check">비밀번호 확인</label>
                        <input type="password" id="password_check" name="password_check" placeholder="비밀번호 확인">
                    </li>
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>개인 정보</legend>
                    <ul>
                    <li class="form_group">
                        <label for="nickname" autofocus>닉네임</label>
                        <input type="text" id="nickname" name="nickname" placeholder="닉네임">
                    </li>
                    <li class="form_group">
                        <label for="age">나이</label>
                        <input type="number" id="age" name="age" placeholder="나이">
                    </li>
                    <li class="form_group" id="select_group">
                        <label for="address">주소</label>
                        <select id="address" name="address">
                            <option value="seoul" selected>서울특별시</option>
                            <option value="incheon">인천광역시</option>
                            <option value="gwangju">광주광역시</option>
                            <option value="busan">부산광역시</option>
                            <option value="daegu">대구광역시</option>
                            <option value="daejeon">대전광역시</option>
                            <option value="ulsan">울산광역시</option>
                            <option value="sejong">세종특별자치시</option>
                            <option value="gyeonggi">경기도</option>
                            <option value="gangwon">강원도</option>
                            <option value="chungcheong_north">충청북도</option>
                            <option value="chungcheong_south">충청남도</option>
                            <option value="jeolla_north">전라북도</option>
                            <option value="jeolla_south">전라남도</option>
                            <option value="gyeongsang_north">경상북도</option>
                            <option value="gyeongsang_south">경상남도</option>
                            <option value="seoul">제주도</option>
                        </select>
                    </li>
                    <li class="form_group" id="select_group">
                        <label for="sex">성별</label>
                        <select id="sex" name="sex">
                            <option value="male">남자</option>
                            <option value="female">여자</option>
                        </select>
                    </li>
                    <li class="form_group">
                        <label for="email">e-mail</label>
                        <input type="email" id="email" name="email" placeholder="email">
                    </li>
                    <ul>
                </fieldset>
                <div id="button">
                    <button type="submit" class="submit">회원가입</button>
                </div>
            </form>
        </section>
        <footer>
            <div id="footcontainer">
                <p>광주 인공지능 사관학교 팀 프로젝트</p>
            </div>
        </footer>
    </div>
</body>
</html>